@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F14;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #8A2BE2, #00E5FF);
  }

  .border-gradient {
    border: 1px solid transparent;
    background-image: linear-gradient(#1A1A22, #1A1A22), linear-gradient(to right, #8A2BE2, #00E5FF);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1A1A22;
}

::-webkit-scrollbar-thumb {
  background: #2A2A35;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8A2BE2;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  animation: scroll 10s linear infinite;
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  /* Start off-screen */
}